body {
    margin: 0;
    padding: 0;
    background: url(/images/food.jpg);
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif
}

.main{
    text-align: center;
    width: 50%;
    background-color: black;
    color: white;
    padding: 1% 0 3% 0;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 25%;
}

#recipe_info
{
    width: 50%;
    margin-right: 5%;
}

#ingredient_info
{
    width: 50%;
}

#new_ingredient_form
{
    margin-bottom: 5%;
    display: inline-flex;
}