body {
    margin: 0;
    padding: 0;
    background-size: cover; 
    background: url(/images/food.jpg);
    font-family: Arial, Helvetica, sans-serif
}

.recipe_details
{
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: black;
    color: white;
    padding: 1% 0 3% 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
}

