<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/recipe_page.css' />
  </head>
  <body>
    <div id = "recipe_list">
        <h2 style="text-align:center"><%= title %></h2>
        <script src="/javascripts/recipes.js"></script>
    </div>
  </body>
</html>
