<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/recipe_details" method="GET">
    <label for="recipes">Recipes: </label>
    <input type="submit" value="OK">
</form>
  </body>
</html>
