<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/recipe_details_page.css' />
  </head>
  <body>
    <div class = "recipe_details">
        <h1><%= title %></h1>
    </div>
</form>
  </body>
</html>
