<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel = "stylesheet" type = "text/css" href="/stylesheets/main_page.css">
  </head>
  <body>
    <div class="main"> 
        <h1><%= title %></h1>
        <form action="/recipes" method="GET">
            <input type="text" name="search" placeholder="Start cooking">
            <input type="submit" value="Go">
        </form>
    </div>
  </body>
</html>
